<h2>
  <ul>
    <li>
      <%= @restaurant.name %> <br>
      <%= @restaurant.address %> <br>
      <%= @restaurant.phone_number %> <br>
      <%= @restaurant.category %> <br>
    </li>
  </ul>
</h2>

<p>Go back to <%= link_to 'restaurants', restaurants_path %></p>